@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @media screen and (max-width: 576px) {
  body {
    width: 100%;
    height: 100%;
  } */
  /* nav and Hero section responsiveness*/
  /* nav {
    flex-direction: column;
    height: 70px;
  }
  .nav-items a {
    margin: 0 5px;
    font-size: 1rem;
  }
  header {
    padding: 4px;
  }
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
  }
  .right {
    height: 50%;
    width: 100vw;
    margin: -44px;
  }
  .left {
    height: 50%;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .right img {
    width: 96vw;
  }
  .left h1 {
    font-size: 1.5rem;
    position: absolute;
    top: 42%;
    left: 15%;
  }
  .left span {
    font-size: 1.1rem !important;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .button {
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin-top: 44px;
    margin-left: 14%;
  }
  .button a {
    font-size: 0.7rem;
    background-color: transparent;
    border: 1px solid #2c4da2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button a:hover {
    background-color: #2c4da2;
  }
  .resume {
    margin-right: 8px;
  }
  .hire {
    height: 46px;
    align-self: center;
    justify-self: center;
    background-color: transparent;
  }
  .socials {
    font-size: 1.5rem;
    margin-left: 50px;
  }
  .socials a {
    margin: 0 8px;
  }
  .scroll {
    left: 1%;
    top: 10%;
  }

  hr {
    display: none;
  } */
  /*about section responsiveness*/
  /* .about {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0px;
  }
  .wrapper {
    border: 1px solid white;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
 
  }
  .about_img {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about_img img {
    border: 5px solid white;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
  }

  .about_content {
    width: 100vw;
    height: 50%;
    padding: 9px;
  }
  .about_content h3 {
    font-size: 0.9rem;
    word-spacing: 0px;
    font-weight: 500;
    line-height: 26px;
    padding: 9px;
  } */

  /*my skills responsiveness*/
  /* .my-skill {
    width: 100vw;
    height: 91vh;
  }
  .heading h1 {
    border-bottom: 2px solid rgb(196, 196, 196);
    width: 90%;
    margin: 10px !important;
    color: #080918;
    text-align: center;
  }
  .skill-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 37px;
    margin-top: 15%;
    place-items: center;
  }
  .skills {
    height: 110px;
    width: 110px;
    border-radius: 10px;
    background: #dcdada;
    box-shadow: 22px 22px 44px #bbb9b9, -22px -22px 44px #fdfbfb;
  }
  .skills img {
    width: 50%;
    height: 50%;
    margin: 25px;
  } */
  /*responsiveness for my projects*/

  /* #project {
    width: 100vw;
    height: 190vh;
    margin: 0 auto;
  }
  #project .pro-head {
    border-bottom: 2px solid rgb(196, 196, 196);
    width: 90%;
    padding: 20px;
    color: #080918;
    margin-left: 10px;
    text-align: center;
  }
  .project-container {
    height: 40%;
    width: 100%;
    margin: 20px 0;
    border-radius: 7px;
    background: #dcdada;
    box-shadow: 17px 17px 32px #bbb9b9, -17px -17px 32px #fdfbfb;
  }

  
  .project-image {
    width: 100%;
    height: 85%;
    background-size: cover;
    background-position-x: top;
    transition: filter 0.3s;
  }
  .project-description {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(122, 114, 114, 0.8);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: bottom 0.3s;
    flex-direction: column;
    padding: 10px;
    text-align: center;
  }

  .project-description a {
    color: #fff;
    text-decoration: none;
  }

  .project-container:hover .project-image {
    filter: blur(5px);
  }

  .project-container:hover .project-description {
    bottom: 0;
  }
  .pro-head h1 {
    margin-top: 26px;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
  }
  .project-container h1 {
    color: rgb(34 47 61);
    font-size: 0.98rem;
    padding: 2px;
    line-height: 57px;
    font-family: "Poppins", sans-serif;
  } */
  /*responsiveness for footer */
  /* .footer {
    flex-direction: column;
    height: 80vh !important;
    width: 100vw;
  }
  .upper-footer {
    height: 50%;
    width: 100%;
    margin-bottom: 0 !important;
  }
  .upper-footer img {
    height: 100%;
    width: 100%;
  }
  .right-footer {
    width: 100%;
    height: 100vh !important;
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }
  .right-footer h1 {
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .icon i {
    flex-direction: row;
    align-self: center;
    justify-self: center;
    margin: 0 28px;
    font-size: 1.8rem;
  }
  .icon a {
    color: white;
  }
  .right-footer p {
    font-size: 0.9rem;
    align-self: center;
    justify-self: center;
  }
} */
@media screen and (max-width: 407px){
  nav {
    flex-direction: column;
    height: 70px;
  }
  .nav-items{
    margin-left: -21px !important;
  }
  .nav-items a {
    font-size: 1rem;
    margin-left: -21px;
  }
  .right {
    height: 50%;
    width: 128vw !important;
    margin: -44px;
  }
  .right img{
    width:96vw;
  }
  .left h1 {
    /* font-size: 1.5rem;
    position: absolute;
    top: 42%;
    left: 15%; */
    transform: translate(-44px, -16px);
  }
  .left span {
    font-size: 1.1rem !important;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .button {
    align-items: center;
    justify-content: center;
    padding: 2px;
    transform: translate(12px, -50px);
  }
  .button a {
    font-size: 0.8rem !important;
   
  }
  .button a:hover {
    background-color: #2c4da2;
  }
  .resume {
    margin-right: 8px;
  }
  .hire {
    height: 46px;
    align-self: center;
    justify-self: center;
    background-color: transparent;
  }
  .socials {
    font-size: 1.5rem;
    margin-left: 50px;
  }
  .socials a {
    margin: 0 8px;
  }
  .scroll {
    left: 1%;
    top: 10%;
  }
  .about {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0px;
  }
  .wrapper {
    border: 1px solid white;
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
 
  }
  .about_img {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about_img img {
    border: 5px solid white;
    border-radius: 50%;
    height: 198px !important;
    width: 198px !important;
    object-fit: cover;
    object-position: center;
  }

  .about_content {
    min-width: 100% !important;
    height: 32%;
    padding: 9px;
  }
  .about_content h3 {
    font-size: 0.9rem;
    word-spacing: 7px;
    font-weight: 500;
    line-height: 26px !important;
    padding: 9px;
  }
  .my-skill {
    width: 100vw;
    height: 83vh!important;
  }
  .heading h1 {
    border-bottom: 2px solid rgb(196, 196, 196);
    width: 90%;
    margin: 10px !important;
    color: #080918;
    text-align: center;
  }
  .skill-container {
    grid-template-columns: repeat(2, 1fr)!important;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px !important;
    margin-top: 15%;
    place-items: center;
  }
  .skills {
    height: 110px;
    width: 110px;
    border-radius: 10px;
    background: #dcdada;
    box-shadow: 22px 22px 44px #bbb9b9, -22px -22px 44px #fdfbfb;
  }
  .skills img {
    width: 50%;
    height: 50%;
    margin: 25px;
  }
  .pro-head {
    width: 76% !important;
    padding: 18px !important;
    margin-left: 40px !important;
}
  .footer {
    flex-direction: column;
    height: 80vh !important;
    width: 100vw;
  }
  .upper-footer {
    height: 50%;
    width: 100%;
    margin-bottom: 0 !important;
  }
  .upper-footer img {
    height: 100%;
    width: 100%!important;
  }
  .right-footer {
    width: 100%;
    height: 100vh !important;
    margin-top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
  }
  .right-footer h1 {
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-size: 2rem;
  }
  .icon i {
    flex-direction: row;
    align-self: center;
    justify-self: center;
    margin: 0 28px;
    font-size: 1.8rem;
  }
  .icon a {
    color: white;
  }
  .right-footer p {
    font-size: 0.9rem;
    margin-left: 8px !important;
  }
}

 @media screen and (max-width: 577px) {
  body {
    width: 100%;
    height: 100%;
  } */
  /* nav and Hero section responsiveness*/
   nav {
    flex-direction: column;
    height: 70px;
  }
  .nav-items a {
    margin: 0 5px;
    font-size: 1rem;
  }
  header {
    padding: 4px;
  }
  .hero {
    flex-direction: column-reverse;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
  }
  .right {
    height: 50%;
    width: 100vw;
    margin: -44px;
  }
  .left {
    height: 50%;
    width: 100vw;
    margin: 0;
    padding: 0;
  }
  .right img {
    width: 76%!important;
  }
  .left h1 {
    font-size: 5.6vw !important;
    position: absolute;
    top: 45%;
    left: 24%;
}
  .left span {
    font-size: 1.1rem !important;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .button {
    top: 45px;
    left: -23px;
    position: relative;
    margin: 0 auto;
  }
  .button a {
    font-size: 0.7rem;
    background-color: transparent;
    border: 1px solid #2c4da2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button a:hover {
    background-color: #2c4da2;
  }
  .resume {
    margin-right: 8px;
  }
  .hire {
    height: 46px;
    align-self: center;
    justify-self: center;
    background-color: transparent;
  }
  .socials {
    font-size: 1.5rem;
    margin: 0 auto;
    position: relative;
    top: 31px;
    left: -16px;
  }
  .socials a {
    margin: 0 8px;
  }
  .scroll {
    left: -5%;
    top: 23%;
  }

  hr {
    display: none;
  } 
  .about_img img {
    border: 5px solid white;
    border-radius: 50%;
    height: 223px;
    width: 233px;
    object-fit: cover;
}

.about_content {
    width: 80%!important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_content h3 {
  text-align: justify;
  font-weight: 500;
  padding: 8px;
  line-height: 40px;
}
.skills{
  height: 130px !important;
    width: 130px !important;
    border-radius: 30px !important;
}
.skills img {
  width: 50%;
  height: 50%;
  margin: 33px;
  mix-blend-mode: darken;
}
.right-footer p{
  font-size: 1rem;
  margin-left: 38px;
}
}

@media (max-width: 670px) {
  nav {
    flex-direction: column;
  }
  .hero {
    font-weight: 900;
  }
  .left h1 {
    font-size: 4vw;
  }
  .left h1 span {
    font-size: 1.2rem;
  }
  .right img {
    width: 100%;
  }
  .socials {
    font-size: 1.9rem;
}
  hr {
    display: none;
  }
  .about {
    height: 125vh;
  }
  .wrapper {
    flex-direction: column;
  }
  .about_img img {
    border: 5px solid white;
    border-radius: 50%;
    height: 223px;
    width: 233px;
    object-fit: cover;
}

  #project {
    height: 165vh;
    width: 100vw;
    background-color: #dadada;
    margin: 0 auto;
  }
  .my-project {
    align-items: center;
    justify-content: center;
  }
  .upper-footer img {
    height: 100%;
    width: 149%;
  }
  .right-footer p {
    font-size: 1rem;
}
  .button a {
    padding: 1vw;
  }
  .button .hire {
    padding: 2.2vw;
  }
  .my-skill {
    height: 79vh;
    width: 100vw;
    background-color: #dadada;
  }
  .skill-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 18px;
    margin: 2%;
    place-items: center;
  }
  .skills {
    height: 176px;
    width: 176px;
    border-radius: 50px;
    background: #dcdada;
    box-shadow: 22px 22px 44px #bbb9b9, -22px -22px 44px #fdfbfb;
  }
}
@media screen and (max-width: 849px) {
  #project {
    height: 165vh;
    width: 100vw;
    background-color: #dadada;
    margin: 0 auto;
  }
  .my-project {
    align-items: center;
    justify-content: center;
  }
}
